* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 50px;

  background-color: black;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 30px;

  list-style: none;
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  color: rgb(95, 5, 5);
}

.contact-btn {
  padding: 10px 20px;

  border: none;
  border-radius: 5px;

  background-color: rgb(95, 5, 5);
  color: white;

  cursor: pointer;

  font-weight: bold;
}

.contact-btn:hover {
  background-color: rgb(95, 5, 5);
}


/* logo image */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-image {
  width: 50px;
  height: 50px;

  object-fit: cover;

  border-radius: 10%;
}